# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

# cache
.cache/
_cache/

# Serverless directories
.serverless/

# the usual junk
.DS_Store

# build artifacts
_site/
src/images/web/
src/_data/booksOnShelves.json
