{% extends 'layouts/base.njk' %}
{% block content %}
<section class="">
  {# {% book book.ISBN, "full:Buy on Bookshop.org→", "", "purchase", "", page.fileSlug %} #}
  {% book book.ISBN, "full" %}
</section>
{% endblock %}