<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

{% include "partials/head.njk" %}

<body class="w-full h-screen p-8 mx-auto antialiased leading-tight prose prose-xl bg-gray-50 max-w-none prose-slate snap-x">
    <div class="">
        <a href="{{ '/' | url }}" class="inline-block mb-8 no-underline sm:mb-0 sm:mr-5 hover:underline hover:decoration-wavy">
            <div class="relative ">
            <div class="absolute z-0 w-full h-full duration-300 ease-in bg-blue-200 rounded-sm top-4 left-6 mix-blend-multiply hover:left-0 hover:p-2 opacity-70"></div>
            <h1 class="z-10 max-w-5xl mb-0 text-5xl font-bold leading-none tracking-tighter font-Lora text-neutral-600">{{ site.title | safe }}</h1>
            </div>
        </a>
    </div>
    <div class="pl-16 mt-12 mb-4 ">
        <h1 class="">
            <a class="decoration-wavy">
                {{ post.data.title}}
            </a>
        </h1>
        <h2>
            {{ post.data.subtitle }}
        </h2>
    </div>


<main class="mt-12">
{% block content %}{% endblock %}
</main>

  
</body>

</html>