{% extends 'layouts/base.njk' %}

{% block content %}
<article>
<section title="About the '{{ title }}' shelf" class="px-8 prose prose-xl">
  <article>
  <div class="grid justify-center grid-cols-1">
  <h1>{{ title or metadata.title | safe }}</h1>
  </div>
  {{ content | safe }}
  </article>
</section>
{% if sortByDescription %}
  <section class="">
    {% shelf page.fileSlug, "full::description" %}
    <h3>Other titles on this shelf:</h3>
    {% shelf page.fileSlug, "cover::no-description" %}
  </section>
{% else %}
  <section class="prose prose-xl">
    {% shelf page.fileSlug, "full" %}
  </section>
{%endif%}
</article> 

<p class="prose prose-base">This shelf was updated on {{ page.date | readableDate }}. <a href="https://github.com/StevenPate/landforms/blame/main/{{ page.inputPath }}">See the history of updates to this page</a>.</p>
{% endblock %}
ç