{% extends 'layouts/base.njk' %}

{% block content %}
<article>
<section title="About the '{{ title }}' shelf" class="prose prose-xl">
  <article>
  <h1>{{ title or metadata.title }}</h1>
  {{ content | safe }}
  </article>
</section>
<section>
    {{ page.fileSlug }}
  {% for book in books %}
    {% book book.ISBN, "full", "external", page.fileSlug %}
  {% endfor %}
</section>
</article>
{% endblock %}
