---
eleventyComputed:
  title: "{{ book.google.title}}" 
tags: book
pagination:
    data: booksOnShelves.books
    size: 1
    alias: book
permalink: "/{{ book.ISBN }}.json"
---
{% book book.ISBN, "raw" %}