---
permalink: '/library.json'
---
{
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "bio": "{{ site.description }}",
  "lists": [
  {%- for item in booksOnShelves.shelves %}
    {
      "title": "{{ item.shelfTitle }}",
      "shelfID": "{{ item.shelfID }}",
      "url": "{{ site.url }}/{{ item.shelfPath }}",
      "books": [
        {%- for ISBN in item.shelfItems %}
        { 
          {% book ISBN, 'json' %}
        }{% if not loop.last %},{% endif %}
        {%- endfor %}
      ]
    }{% if not loop.last %},{% endif %}
  {%- endfor %}
  ]
}