  <footer class="flex flex-row px-8 mt-12 mb-12 text-sm divide-x-2 divide-dotted divide-zinc-200 md:px-16 text-neutral-600">
    <div class="pr-4 align-top">&copy; 2022 Steven Pate</div> 
    <div class="px-4 align-top"><a class="underline decoration-amber-400 hover:decoration-amber-400 hover:decoration-wavy" href="/contact/">Contact</a></div>
    <div class="px-4 align-top no-prose"><a href="{{ site.github }}"><img src="/images/github.svg" width="20" height="20" class="my-0 d-block no-prose" loading="lazy" decoding="async" alt="GitHub mark"></a></div>
  </footer>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>