<div class="block mt-2 text-sm text-gray-500">
  {% if created %}<div class="block">Created <time datetime="{{ created | htmlDateString }}" class="pr-3">{{ created | readableDate }}</time></div>{% endif %}
  <div class="block">Last updated <time datetime="{{ page.date | htmlDateString }}" class="pr-3">{{ page.date | readableDate }}</time></div>
</div>